<div class="tab">
<div class="m-3">
  <h5>Test Scenario list (click to edit)</h5>
</div>
<table class="table bg-light search-nav">
  <thead>
  <tr>
    <th scope="col"><input class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search"
                           [(ngModel)]="search.name" (change)="onSearchSubmit()"></th>
    <th scope="col">
      <div class="col-auto">
        <select class="custom-select mr-sm-2" id="sortBy" [(ngModel)]="search.sortField" (change)="onSearchSubmit()">
          <option selected value="">Sort by</option>
          <option value="id">Id</option>
          <option value="name">Name</option>


        </select>
      </div>
    </th>
    <th scope="col">
      <button class="btn btn-outline-success" type="submit" (click)="onSearchSubmit()">Search</button>
    </th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let testScenario of testScenarios" routerLink="/test-scenario/edit/{{testScenario.id}}">
    <th scope="row">{{testScenario.id}}</th>
    <td>{{testScenario.name}}</td>

  </tr>

  </tbody>
</table>

<app-pagination [quantityPages]="numberOfPages"
                [sizePage]="pageSize"
                (clickPage)="getPage($event)"></app-pagination>

</div>



