<div class="container-fluid mr-5 mt-5">

  <div class="testcase-form">
    <div class="form-group m-3">
      <input class="form-control" [(ngModel)]="testCase.testCase.name" placeholder="Enter name">
    </div>

    <app-test-case-body (showFormButton)="showForm = $event"></app-test-case-body>
  </div>


  <div class="container-fluid mr-5 mt-5">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </div>

  <div class="container-fluid mr-5 mt-5">
    <div [className]="'alert ' + progressTypeClass" role="alert" *ngIf="showEditProgress">
      {{progressMessage}}
    </div>
  </div>

</div>
