.input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-field {
  margin-left: 1em;
  padding: .5em;
  margin-bottom: .5em;
}

.priority{
  width: 45px;
}
th{

}


button{
  /*  width: 160px;*/
  margin-left: 15px;
  height: 40px;
}
.button-selected{
  background: white;
  z-index: 2;
  /*position: absolute;*/
  /* height: 38px; */
  border-bottom: 0;
  height: 40px;
}

.headbuttons{
  display: flex;
  justify-content: flex-start;
}
