<div class="container-fluid m-5" style="min-width: 1000px">
  <div>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchedDataSet"
           placeholder="search data set">
  </div>

  <div style="text-align: right; margin: 20px">
    <button type="button" class="btn btn-outline-primary" routerLink="/create-data-set">Create Data Set</button>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of allDataSet | filter:searchedDataSet | slice:start:end" routerLink="/dataset/edit/{{item.id}}">
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td style="text-align: right;">
        <!-- <button type="button" class="btn btn-outline-info" >edit</button>
         <button type="button" class="btn btn-outline-danger" (click)="delete(item.id)">X</button>-->
      </td>
    </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example" style="margin-left: 30%">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="previousPage()"><</button>
      </li>
      <li class="page-item" *ngFor="let item of pagination; let i = index" (click)="onPage(i)">
        <button class="page-link" >{{i+1}}</button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="nextPage()">></button>
      </li>
    </ul>
  </nav>
</div>
