<div>
  <div class="mb-4 input">
    <label class="float-left mr-5" >Name</label>
    <input type="text"
           class="form-control input-field"
           [(ngModel)]="compoundName"
           (ngModelChange)="setNameDescription()"
           placeholder="Name">
  </div>
  <div class="input">
    <label class="float-left mr-5" >Description</label>
    <input type="text" class="form-control input-field"  [(ngModel)]="compoundDescription"
           (ngModelChange)="setNameDescription()"   placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>


