<div class="container-fluid p-5">
  <h2 class="font-weight-bold text-center">Compound</h2>

  <form class="mt-3">
    <fieldset disabled>
      <strong>Name:</strong>
      <div class="mb-3">
        <label>
          <input type="text" class="form-control" style="width: 250%" disabled value="{{compound.name}}">
        </label>
      </div>

      <strong>Description:</strong>
      <div class="mb-3">
        <label>
          <input type="text" class="form-control" style="width: 250%" disabled value="{{compound.description}}">
        </label>
      </div>
    </fieldset>
  </form>

  <div *ngIf="actions.length > 0">
    <strong>Actions:</strong>
    <table class="table shadow" style="width: 100%">
      <thead class="shadow">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Void</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let action of actions">
        <th scope="row">{{ action.id }}</th>
        <td>{{ action.name }}</td>
        <td>{{ action.void }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-2">
    <div class="col-12" style="width: 1000px; display: inherit">
      <button class="btn btn-outline-primary btn-lg m-1 w-25"
              type="button" (click)="comeBackToPreviousPage()">Back
      </button>
      <button class="btn btn-outline-danger btn-lg m-1 w-25"
              type="button" (click)="deleteCompound()">Delete
      </button>
    </div>
  </div>
  <div *ngIf="isDeleted" class="alert alert-success mt-3 w-50" role="alert">
    Compound is successfully deleted!
  </div>

</div>
