<html>
<div *ngIf="isLoggedIn; else loggedOut">
</div>
<ng-template #loggedOut>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
          <h1>Login</h1>
          <p class="text-muted"> Please enter your email and password!</p>
          <input type="email" id="form-email"
                 name="username" [(ngModel)]="form.username" #username="ngModel"
                 placeholder="Email address" required />

          <input class="form-control" type="password"
                 name="password" [(ngModel)]="form.password" #password="ngModel"
                 placeholder="Password" required />
          <a class="forgot text-muted" routerLink="/reset-by-email">Forgot password?</a>

            <button type="submit">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</div>
</ng-template>
</html>
